<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.nanosite.xtendency.tracer.emf.ui.GeneratedTreeView"
            id="org.nanosite.xtendency.tracer.emf.ui.generatedView"
            name="Generated"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.nanosite.xtendency.tracer.view">
      <view
            class="org.nanosite.xtendency.tracer.emf.ui.GeneratedTreeView"
            extension="org.nanosite.xtendency.tracer.emf.ui.generatedView"
            name="EMFView">
      </view>
   </extension>
</plugin>
