<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nanosite.org/xtendency/tracer/TracingExecutionContext" 
       class = "org.nanosite.xtendency.tracer.tracingExecutionContext.TracingExecutionContextPackage"
       genModel = "model/generated/TracingExecutionContext.genmodel" /> 
	
  </extension>




</plugin>
